<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nikhilvermavit.nikhilverma.imdb">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
        android:screenOrientation="portrait">
        <context
            android:theme="@style/AppTheme1"
            android:name="com.nikhilvermavit.nikhilverma.imdb.Activites.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </context>
        <context
            android:theme="@style/AppTheme2"
            android:name="com.nikhilvermavit.nikhilverma.imdb.Activites.Main_Content"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="COM.EXAMPLE.NIKHILVERMA.IMDB.FRAG_FAB" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </context>
        <context
            android:theme="@style/AppTheme3"
            android:name="com.nikhilvermavit.nikhilverma.imdb.Activites.Search"
            android:label="@string/app_name"></context>
        <context
            android:theme="@style/AppTheme3"
            android:name="com.nikhilvermavit.nikhilverma.imdb.Activites.ActorDetail"
            android:label="@string/app_name"></context>
    </application>

</manifest>
